@model IEnumerable<tpEstudiante.Materia>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado Materias</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th><a asp-action="Create" class="btn btn-success">Crear Nueva</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color:red">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    tpEstudiante.ViewModel.Paginador pag = ViewBag.Paginador;
}
<partial name="_Paginador" for="@pag" />
