@model tpEstudiante.EstudianteMateria

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle de la relacion</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materia.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>
    </dl>
</div>
<div>

    <div style="margin-top:20px">
        <a asp-action="Index" class="btn btn-info">Volver</a>
    </div>

</div>
